.body{
    background-color: white ;
}

.logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left:0;
    top:0;
}

.Adresstag{
    margin-top: 150px;
    font-size: 70px;
    border-radius: 20px;
    border: 2px;
    font: 16px;
}

.AvailabilityButton{
    margin-top: 150px;
    font-size: 70px;
    border-radius: 20px;
    border: 2px;
    font: 16px;
}

.Copyrights{
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0;right:0;
    font-size: 15px;
}